[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IMIFA"]
	path = IMIFA
	url = https://github.com/keefe-murphy/imifa
[submodule "MEDseq"]
	path = MEDseq
	url = https://github.com/keefe-murphy/medseq
[submodule "MoEClust"]
	path = MoEClust
	url = https://github.com/keefe-murphy/moeclust
